*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121417;
}

.header{
     height: 200px; 
}

/*scroll bar start*/

body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: #1a202c;
}

/*scroll bar end*/

.navbar-style{
    /* background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); */
	
	/*2.*/

	/* background: #E0EAFC;  
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
	background: linear-gradient(to right, #CFDEF3, #E0EAFC);  */

	/*3*/
	background-image: linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );
}

.logo{
    font-size: 100px;
    font-family: 'Black Ops One', cursive;
    color: #1f262e;
}
.logo:hover{
    text-decoration: none; 
    color: #1f262e;
}

ul li a{
    color: #000000;
    text-decoration: none;
    padding-top: 15px !important;
    margin-top: 70px !important;
    font-weight: bolder;
    /* transition: .5s ease; */
}
ul li a:hover{
    color: #121417;
    /* background: #f1faee !important; */

    /* background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */

    /* background-color: #70a1ff;
    background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%); */

	/* background: #757F9A;  
	background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  
	background: linear-gradient(to right, #D7DDE8, #757F9A);  */
	
	/* background: #8e9eab;  
	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  
	background: linear-gradient(to bottom, #eef2f3, #8e9eab); */

	background-color: #303b46 !important;
	color: white !important;
	
	

    text-decoration: none;
}

.icon-bar{
    /* background: black; */
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.propic{
    height: 200px;
    width: 200px;
}
.row {
    text-align: center;
}
.col-md-1 {
    display:inline-block;
}
.navbar-collapse {
    box-shadow: inset 0 0 0 0 rgb(255 255 255 / 10%);
}


/*Social Links*/

.fa {
    padding: 20px;
    font-size: 15px;
    height: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* transition: .3s; */
  }
  
  .fa:hover {
      opacity: .1;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-github {
    background: #212529;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #FF0000;
    color: white;
  }
  a:hover{
      text-decoration: none;
  }

  *{ color:white; 
    font-size: 20px;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

/*random*/

.container {
	text-align: justify;
	text-justify: inter-word;
} 

.read-more:hover{
	color: white;
	text-decoration: underline !important;

}

.previous:hover{
	opacity: .5;
}

  .nav-link{
	  margin-top: 0 !important;
  }

  .blog-header{
	  color: #d6e3f6;
  }

  .blog-header-links{
	  color: #d6e3f6;
	  font-size: 30px;
  }
  .blog-header-links:hover{
	  text-decoration: underline;
	  color: white;
  }




  /* Footer Css */

footer{
	background-color: #0b0c0e;
	height: auto;
	padding-bottom: 40px;
}

hr.new1 {
	border-top: 1px solid white;
  }

.footer-logo{
	font-family: 'Black Ops One', cursive;
	color: white;
	font-size: 60px;
}

.footer-header{
	font-family: 'Rajdhani';
	font-weight: bold;
	text-align: left;
}
.footer-ul{
	list-style-type: none;
	text-align: left;
}
.col{
	text-align: left;
}

.fa-envelope-square{
	font-size: 25px;
}

.fa-fa-phone{
	font-size: 25px;
}

.footer-links{
	text-decoration: none !important;
	color: white !important;
	font-weight: lighter;
	padding-top: 0 !important;
}

.footer-links:hover{
	background: none;
	font-weight: bold !important;
	/* text-decoration: underline !important; */
	/* color: #121417 !important; */
}




/* syntax highlighter */

.lang-c{
	border: 0; 
	margin-bottom: 0;
	/* font-size: 17px; */
	padding-bottom: 0;
	padding-right: 42.5px;
	padding-top: 0;
}

.int{
	color: #09a3d5;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
.punc{
	color: #89ddff;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
.main-return{
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter !important;
	font-size: 17px;
}
.comment{
	color: #999;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
.number{
	color: #e4514f;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
.text{
	color: #fff;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
.printf{
	color: #fff;
	font-family: 'Source Code Pro', monospace;
	/* font-weight: bold; */
	font-size: 17px;
}
@media(max-width: 680px){
	.printf, .punc, .main-return, .comment, .number, .text, .int{
		font-size: 13px;
	  }
}





